.mi_select {
	background:#FFFFFF;
	position:relative;
	width:200px;
}

.mi_select #medicamento_1 {
	width:200px;
}

.mi_select #med1 {
	padding:0;
	margin:0;
	list-style:none;
	border:#999999 1px solid;
	display:none;
	height:200px;
	overflow:auto;
}

.mi_select #med1 li {
	text-align:justify;
}

.mi_select #med1 li a {
	display:block;
	color:#000066;
	text-decoration:none;
	border-bottom:#CCCCCC solid 1px;
}

.mi_select #med1 li a:hover {
	background:#FFFF99;
}





.mi_select2 {
	background:#FFFFFF;
	position:relative;
	width:200px;
}

.mi_select2 #medicamento_2 {
	width:200px;
}

.mi_select2 #med2 {
	padding:0;
	margin:0;
	list-style:none;
	border:#999999 1px solid;
	display:none;
	height:200px;
	overflow:auto;
}

.mi_select2 #med2 li {
	text-align:justify;
}

.mi_select2 #med2 li a {
	display:block;
	color:#000066;
	text-decoration:none;
	border-bottom:#CCCCCC solid 1px;
}

.mi_select2 #med2 li a:hover {
	background:#FFFF99;
}