@charset "UTF-8";
/* CSS Document */
.tituloVentana2013 {
	background-image:url(../diseno/fondoTituloVentanas.jpg);
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:bold;
	color:#333333;
	text-align:center;
	border-bottom-color:#1b4b93;
	border-bottom-style:solid;
	border-bottom-width:1px;
	vertical-align:middle;
}

.has-js .label_radio {
	font-family:Arial, Helvetica, sans-serif;
	background:#999;
	border-radius: 5px;
	-moz-border-radius: 5pxx;
	-webkit-border-radius: 5px;
	padding:5px;
	margin:1px;
	font-size:14px;
	color:#FFF;
	cursor:pointer;
}
.has-js label.r_on {
	background-color: #009933;
}
.has-js label.r_off {
	background-color: #FF0000;
}
.has-js .label_radio input { position: absolute; left: -9999px; }

.jqmClose {
  position: absolute;
  right: 7px;
  top: 4px;
  padding: 0 0 0 19px;
  height: 19px;
  width: 0px;
  background: url(close.gif) no-repeat top left;
  overflow: hidden;
}

.has-js .label_radiodis {
	font-family:Arial, Helvetica, sans-serif;
	background:#999;
	border-radius: 5px;
	-moz-border-radius: 5pxx;
	-webkit-border-radius: 5px;
	padding:5px;
	margin:1px;
	font-size:14px;
	color:#FFF;
	cursor:pointer;
}

.has-js .label_radiodis input { position: absolute; left: -9999px; }

.boton,.boton:visited{font-family:Arial,Helvetica,sans-serif;background:#222222;display:inline-block;padding:5px 10px 6px;color:#FFF;text-decoration:none;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.6);-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.6);text-shadow:0 -1px 1px rgba(0, 0, 0, 0.25);border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid rgba(0, 0, 0, 0.25);position:relative;cursor:pointer;}
.boton:hover{background-color:#111;color:#FFF;}
.boton:active{top:1px;}
.ch.boton,.ch.boton:visited{font-size:11px ;}
.boton,.boton:visited,.m.boton,.m.boton:visited{font-size:13px;font-weight:bold;line-height:1;text-shadow:0 -1px 1px rgba(0, 0, 0, 0.25);}
.g.boton,.g.boton:visited{font-size:14px;padding:8px 14px 9px;}
.ex.boton,.ex.boton:visited{font-size:24px;padding:8px 14px 9px;}
.rosa.boton{background-color:#E22092;}
.rosa.boton:hover{background-color:#C81E82;}
.verde.boton,.verde.boton:visited{background-color:#34A649;}
.verde.boton:hover{background-color:#257D2E;}
.rojo.boton,.rojo.boton:visited{background-color:#E62727;}
.rojo.boton:hover{background-color:#CF2525;}
.naranja.boton,.naranja.boton:visited{background-color:#FF5C00;}
.naranja.boton:hover{background-color:#D45500;}
.azul.boton,.azul.boton:visited{background-color:#2981E4;}
.azul.boton:hover{background-color:#2575CF;}
.amarillo.boton,.amarillo.boton:visited{background-color:#FFB515;}
.amarillo.boton:hover{background-color:#FC9200;}
.cafe1.boton,.cafe1.boton:visited{background-color:#F68634;}
.cafe1.boton:hover{background-color:#C66B36;}
.cafe2.boton,.cafe2.boton:visited{background-color:#CCCCCC;}
.cafe2.boton:hover{background-color:#999999;}
