@charset "utf-8";
.encabezado {
	font-size: 18px;
	font-weight:bold;
}

.datos
{
	font-size:10px;
}

.titulos {
	font-weight: bold;
	font-size:12px;
}
.nota
{
	font-size:9px;
}

.tablaDiag
{
    
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-right-color: silver;
    border-left-color: silver;
    border-bottom-color: silver;
    border-top-color: silver;
}

.titulosDiag
{
    
    text-align: center;
    font-size: 12px;
    border-left-style: solid;
    border-right-color: silver;
    border-left-color: silver;
    border-bottom-style: solid;
    border-bottom-color: silver;
}

.datosDiag
{
    
    font-size: 10px;
    border-right-style: solid;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-right-color: silver;
    border-left-color: silver;
}