@charset "UTF-8";
/* CSS Document */
.styled-select {
   width: 240px;
   height: 34px;
   overflow: hidden;
   background: url(new_arrow.png) no-repeat right #ddd;
}

.styled-select select {
   background: transparent;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   border: 1px solid #ccc;
   height: 34px;
}

.styled-select select option {
	position:relative;
	float:left;
   left:-150px;
}

.enLinea {
	display:inline;
}
 
.tablaPrincipal {
	border:solid;
	border-style:solid;
	border-width:1px;
	border-color:#1b4b93;
	background-color:#FFFFFF;
}

.encabezado {
	background-image:url(../diseno/fondoEncabezado.jpg);
	background-repeat:repeat-x;
}

.centro {
	font-family:Arial, Helvetica, sans-serif;
	vertical-align:middle;
}

.tituloEncabezado {
    font-family:Arial, Helvetica, sans-serif;
    color:#808080;
    font-size:36px;
    text-align:right;
}

.subtituloEncabezado {
	font-family: Arial, Helvetica, "sans-serif #FFFBF0";
	text-align: center;
	color: #333333;
	font-weight: bold;
	text-shadow:#FFFBF0;
    
}

.ventana {
	font-family:Arial, Helvetica, sans-serif;
	border-color:#1b4b93;
	border-style:solid;
	border-width:1px;
}

.ventanaConFondo {
	font-family:Arial, Helvetica, sans-serif;
	border-color:#1b4b93;
	border-style:solid;
	border-width:1px;
	background-color:#FFFFFF;
}

.textosParaInputs {
    font-family:Arial, Helvetica, sans-serif;
    color:#808080;
}

.textosParaInputsGris {
	font-family:Arial, Helvetica, sans-serif;
	color:#333333;
}

.tituloVentana {
	background-image:url(../diseno/fondoTituloVentanas.jpg);
	background-repeat:repeat-x;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:bold;
	color:#333333;
	text-align:center;
	border-bottom-color:#1b4b93;
	border-bottom-style:solid;
	border-bottom-width:1px;
	vertical-align:middle;
}

.error {
	font-family:Arial, Helvetica, sans-serif;
	color:#CC0000;
	font-size:12px;
}

.menu {
	float: left;
	margin-left: -80px;
}

.enlaceboton {    font-family: verdana, arial, sans-serif;
    font-size: 10pt;
    font-weight: bold;
    padding: 4px;
    background-color: #ffffcc;
    color: #666666;
    text-decoration: none;
}
.enlaceboton:link,
.enlaceboton:visited {
    border-top: 1px solid #cccccc;
    border-bottom: 2px solid #666666;
    border-left: 1px solid #cccccc;
    border-right: 2px solid #666666;
}
.enlaceboton:hover {
    border-bottom: 1px solid #cccccc;
    border-top: 2px solid #666666;
    border-right: 1px solid #cccccc;
    border-left: 2px solid #666666;
} 
.textoMes {
	float: right;
	padding: 2px;
	color:#DDDDDD;
	font-weight: bold;
}

.numeroDia {
   float: right;
   color: #888;
   text-decoration: none;
   padding: 2px;
   margin: 0;
}
.conteoCitasVerde {
	font-family:Arial, Helvetica, sans-serif;
	font-size:9px;
	color:#006600;
    padding: 2px;
	margin: 0;
}
.conteoCitasAmbar {
	font-family:Arial, Helvetica, sans-serif;
	font-size:9px;
	color:#FF9900;
    padding: 2px;
	margin: 0;
}
.conteoCitasRojo {
	font-family:Arial, Helvetica, sans-serif;
	font-size:9px;
	color:#CC0000;
    padding: 2px;
	margin: 0;
}
.citaXdiaPRV {
	background-image:url(../diseno/fondoPRV.jpg);
	background-repeat:repeat;
}
.citaXdiaPRV:hover {
	background-image:url(../diseno/fondoSELECCION.jpg);
	background-repeat:repeat;
}

.citaXdiaSUB {
	background-image:url(../diseno/fondoSUB.jpg);
	background-repeat:repeat-x;
}
.citaXdiaSUB:hover {
	background-image:url(../diseno/fondoSELECCION.jpg);
	background-repeat:repeat-x;
}

.citaXdiaPRO {
	background-image:url(../diseno/fondoPRO.jpg);
	background-repeat:repeat-x;
}
.citaXdiaPRO:hover {
	background-image:url(../diseno/fondoSELECCION.jpg);
	background-repeat:repeat-x;
}

.citaXdiaLIBPRV {
	background-image:url(../diseno/fondoLIBPRV.jpg);
	background-repeat:repeat-x;
}
.citaXdiaLIBPRV:hover {
	background-image:url(../diseno/fondoSELECCION.jpg);
	background-repeat:repeat-x;
}

.citaXdiaLIBSUB {
	background-image:url(../diseno/fondoLIBSUB.jpg);
	background-repeat:repeat-x;
}
.citaXdiaLIBSUB:hover {
	background-image:url(../diseno/fondoSELECCION.jpg);
	background-repeat:repeat-x;
}

.citaXdiaLIBPRO {
	background-image:url(../diseno/fondoLIBPRO.jpg);
	background-repeat:repeat-x;
}
.citaXdiaLIBPRO:hover {
	background-image:url(../diseno/fondoSELECCION.jpg);
	background-repeat:repeat-x;
}

.citaXdiaNOT {
	text-align:center;
	background-image:url(../diseno/fondoNOT.jpg);
	background-repeat:repeat-x;
}

.citaXdiaHora {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#333333;
	vertical-align:top;
	padding:2px;
}
.citaXdiaNombre {
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	color:#666666;
	vertical-align:top;
	padding:1px;
}
.citaXdiaInfo {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#666666;
	vertical-align:top;
	padding:1px;
}

input {
	font-family:Arial, Helvetica, sans-serif;
	background-image:url(../diseno/fondoTextFields.jpg); 
	border:solid; 
	border-width:1px; 
	border-color:#999999;
}

select {
	font-family:Arial, Helvetica, sans-serif;
	background-image:url(../diseno/fondoTextFields.jpg); 
	border:solid; 
	border-width:1px; 
	border-color:#999999;
}

.botones {
	font-family:Arial, Helvetica, sans-serif;
	border-color:#2A3F55; 
	border-style:solid; 
	border-width:1px; 
	background-image:url(../diseno/fondoEncabezado.jpg);
}
.botones:hover {
	font-family:Arial, Helvetica, sans-serif;
	border-color:#1b4b93; 
	border-style:solid; 
	border-width:1px; 
	background-image:url(../diseno/fondoEncabezado.jpg);
	cursor:pointer;
}

.titulo_seleccion {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#1b4b93;
	text-align:center;
}

.botones_menu {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	text-decoration:none;
	color:#2A3F55;
}

.botones_menu: hover {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	text-decoration:overline;
	color:#0066CC;
}

.tituloReprogramada {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#FF0000;
}

A.linkSelDia {
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;
	font-size:10px;
}

A.linkReportes {
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	color:#000000;
}
A.linkReportes: hover {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-decoration:underline;
	color:#000000;
}

A.textoCitaExtemporanea {
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;
	font-size:10px;
	font-weight:bold;
	color:#666666;
}

A.textoCitaExtemporanea: hover {
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:underline;
	font-size:10px;
	font-weight:bold;
	color:#666666;
}

A.linkIndex {
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;
	font-size:16px;
	font-weight:bold;
	text-decoration:none;
	color:#0066CC;
}
A.linkIndex: hover {
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	text-decoration:underline;
	color:#0066CC;
}

.textoAzul {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#1b4b93;
}

.textoAzulN {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#1b4b93;
	font-weight:bold;
}

.textoGris {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#333333;
}

.textoGrisN {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#333333;
	font-weight:bold;
}

.textoRojo {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#FF0000;
}

.sinExistencias {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#F00;
	font-weight:bold;
}

.conExistencias {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000;
	font-weight:bold;
}

.tablaFondoBco {
	background-color:#FFFFFF;
}

.tablaFondoAzul {
	background-color:#ECECEC;
}

.T_SMALL { font-size: 11pt; font-family: Arial, Helvetica, sans-serif; font-weight: bold; color:#6D6D6D; cursor:help; margin-top:5px; margin-left:0px; margin-bottom:0px; margin-right:0px;}
.T_RED { font-size: 12pt; font-family: Arial, Helvetica, sans-serif; font-weight: bold; color:#FF6868; cursor:help; margin-left:40px; margin-top:0px; margin-right:0px; margin-bottom:5px;}
.T_RED_NOMARGIN { font-size: 14pt; font-family: Arial, Helvetica, sans-serif; font-weight: bold; color:#FF6868; cursor:help; margin-left:0px; margin-top:0px; margin-right:0px; margin-bottom:5px;}
.T_WHITE_NOMARGIN { font-size: 7pt; font-family: Arial, Helvetica, sans-serif; font-weight: bold; color:#FFFFFF; cursor:help; margin-left:0px; margin-top:0px; margin-right:0px; margin-bottom:5px;}
.TD_L {background: url(); background-color: #000000; border:thin dotted #000000;}
.TD_R {background: url(); background-color: red; border:thin dotted #000000;}
.TD_G {background: url(); background-color: green; border:thin dotted #000000;}
.TD_Y {background: url(); background-color: yellow; border:thin dotted #000000;}
.TD_C {background: url(); border: thin dotted #E8E8E8;}
.TD_L:hover {background-color: #8A8A8A; border:thin dotted #F4F4F4; cursor:help;}
.TD_REP_T {background: url(); background-color: #fed001; border:thin dotted #F4F4F4;}
.TD_REP_FN {background: url(); background-color: #c4c4c4; border:thin dotted #F4F4F4;}
.TD_REP_F1 {background: url(); background-color: #85c3c2; border:thin dotted #F4F4F4;}
.TD_REP_F2 {background: url(); background-color: #e8f6ff; border:thin dotted #F4F4F4;}
.TD_REP_F3 {background: url(); background-color: #e7ffe7; border:thin dotted #F4F4F4;}
.TD_REP_F4 {background: url(); background-color: #ffe785; border:thin dotted #F4F4F4;}
.TD_XL_T {background: url(); background-color: #E3DDD9; border:thick solid  #838383; border-width:1px;}
.TD_XL_C {background: url(); background-color: #FFFFFF; border:thin dotted #919191;}
.TD_THIN:hover,.TD_THIN {margin: 0px; margin-left: 0px; margin-top: 0px; margin-right: 0px; background-color:#FFFFFF}
.A_L:link,.A_L:active,.A_L:visited {text-decoration:none; font-size: 10pt; font-family: Arial, Helvetica, sans-serif; font-weight: bold; color: #FFFFFF; }
.A_L:hover {text-decoration:none; font-size: 10pt; font-family: Arial, Helvetica, sans-serif; font-weight: bold; color: #FF2508; }
A.linksCalendario {text-decoration:none; font-size: 11pt; font-family: Arial, Helvetica, sans-serif; font-weight: bold; color: #646464}
A.linksCalendario:hover { text-decoration:none;  color: #AD0000; }
H3 { font-size: 13pt; font-family: Arial, Helvetica, sans-serif; font-weight: bold; color:#1b4b93; cursor:help; margin:3px;}
H4 { font-size: 10pt; font-family: Arial, Helvetica, sans-serif; font-weight: bold; color:#1b4b93; cursor:help; margin:3px;}

.BODY_L { background: #FFFFFF; background-image: url(/sp/media/backgrounds/mainto_top_screen.png); background-attachment: fixed; border-left:0px; border: 0px; padding: 0px;}
.BODY_M { background: #FFFFFF; background-image: url(/sp/media/backgrounds/mainto_top_screen.png); border-left:0px; border: 0px; padding: 0px;}
.TABLE_G { background: url(/sp/media/backgrounds/sun1c.gif); }
.TD_BLACK {background-color: #000000; border:thin dotted #FFFFFF;}

.filas {
	background-color:#FFFFFF;
	font-size:10px;
}

.filas:hover {
	background-color:#D3E8F4;
}

.boton,.boton:visited{font-family:Arial,Helvetica,sans-serif;background:#222222;display:inline-block;padding:5px 10px 6px;color:#FFF;text-decoration:none;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.6);-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.6);text-shadow:0 -1px 1px rgba(0, 0, 0, 0.25);border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid rgba(0, 0, 0, 0.25);position:relative;cursor:pointer;}
.boton:hover{background-color:#111;color:#FFF;}
.boton:active{top:1px;}
.ch.boton,.ch.boton:visited{font-size:11px ;}
.boton,.boton:visited,.m.boton,.m.boton:visited{font-size:13px;font-weight:bold;line-height:1;text-shadow:0 -1px 1px rgba(0, 0, 0, 0.25);}
.g.boton,.g.boton:visited{font-size:14px;padding:8px 14px 9px;}
.ex.boton,.ex.boton:visited{font-size:24px;padding:8px 14px 9px;}
.rosa.boton{background-color:#E22092;}
.rosa.boton:hover{background-color:#C81E82;}
.verde.boton,.verde.boton:visited{background-color:#34A649;}
.verde.boton:hover{background-color:#257D2E;}
.rojo.boton,.rojo.boton:visited{background-color:#E62727;}
.rojo.boton:hover{background-color:#CF2525;}
.naranja.boton,.naranja.boton:visited{background-color:#FF5C00;}
.naranja.boton:hover{background-color:#D45500;}
.azul.boton,.azul.boton:visited{background-color:#2981E4;}
.azul.boton:hover{background-color:#2575CF;}
.amarillo.boton,.amarillo.boton:visited{background-color:#FFB515;}
.amarillo.boton:hover{background-color:#FC9200;}
.cafe1.boton,.cafe1.boton:visited{background-color:#F68634;}
.cafe1.boton:hover{background-color:#C66B36;}
.cafe2.boton,.cafe2.boton:visited{background-color:#CCCCCC;}
.cafe2.boton:hover{background-color:#999999;}
