@charset "utf-8";
/* CSS Document */

.reoprte th
{
	font-family:"Times New Roman", Times, serif;
	font-style:oblique;
	font-size:24px;
	text-align:center;
	border-style:inherit;
	border:#000;
}

.reporte td
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	border:#000;
}
.reporte tr
{
	border:#000;
}

.medico
{
	text-align:left;
}

.citas
{
	text-align:right;
}
	
.reporte
{
	border:#000;
}

.cabeza
{
	font-family: "Arial";
        font-style: italic;        
}
	