/* 
    Document   : estilosAdmin
    Created on : 13-may-2013, 12:37:27
    Author     : ISSSTE
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body
{
    alignment-adjust: central;
    text-align: center;
}

body table
{
    text-align: center;
}

.tablaResultados
{
    text-align: center;
}

.tablaResultados th{
    background-image:url(../diseno/fondoTituloVentanas.jpg);
	background-repeat:repeat-x;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:bold;
	color:#1b4b93;
	text-align:center;
	border-bottom-color:#1b4b93;
	border-bottom-style:solid;
	border-bottom-width:1px;
	vertical-align:middle;
}