/* 
    Document   : estilosAdmin
    Created on : 13-may-2013, 12:37:27
    Author     : ISSSTE
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body
{
    alignment-adjust: central;
    text-align: center;
}

nav{
    width: 100%;
    margin: 5% auto;
    background: #66ccff;
    text-align: center;
}

nav ul li{
    display: inline;
}

nav li{
    list-style: none;
    position: relative;   
}

nav li a{
    color: #000;
    text-decoration: none;
    padding: 5px;
    display: block;
}

nav li.parent a:hover
{
    color: #D3E8F4;
}

nav li li a{
    width: 250px;
    display: block;
}

nav li ul{
    width: 250px;
    margin: 0;
    display: none;
    background: #66ccff;
    border: 1px #D3E8F4 solid;
    position: absolute;
    left: 100%;
    top: -1px;
}

nav li:hover ul
{
    display: block;
}

nav li ul{
    width: 0;
    margin: 0;
    background: #66ccff;
    border: 1px #D3E8F4 solid;
    position: absolute;
    left: 100%;
    top: -1px;
    overflow: hidden;
    z-index: -1;
    opacity: 0;
    filter:alpha(opacity=0);
    -webkit-transition: opacity 0.2s ease-in 0.3s,width 0.4s ease-in 0.3s;/*safari opera*/
    transition: opacity 0.2s ease-in 0.3s , width 0.4s ease-in 0.3s;/*navegadores css3*/
    -moz-transition: opacity 0.2s ease-in  0.3s, width 0.4s ease-in 0.3s;/*Mozilla 4*/
    -o-transition: opacity 0.2s ease-in 0.3s, width 0.4s ease-in 0.3s; /*Opera */
}

nav li:hover ul
{
    width: 250px;
    opacity: 1;
    filter:alpha(opacity=100);/*Internet explorer*/
    -webkit-transition: opacity 0.1s linear 0s, width 0.3s ease-out 0s;/* Chrome, Safari*/
    transition: opacity 0.1s linear 0s, width 0.3s ease-out 0s;/* Navegadores CSS3 */
    -moz-transition: opacity 0.1s linear 0s, width 0.3s ease-out 0s; /* Firefox 4 */
    -o-transition: oopacity 0.1s linear 0s, width 0.3s ease-out 0s; /* Opera */
}

body table
{
    text-align: center;
}

.tablaResultados
{
    text-align: center;
}

.tablaResultados th{
    background-image:url(../diseno/fondoTituloVentanas.jpg);
	background-repeat:repeat-x;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:bold;
	color:#1b4b93;
	text-align:center;
	border-bottom-color:#1b4b93;
	border-bottom-style:solid;
	border-bottom-width:1px;
	vertical-align:middle;
}