@charset "UTF-8";
/* CSS Document */

.issste {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color: #000000;
}

.diaFecha {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color: #666666;
}

.nombre {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color: #000000;
}

.quienAgenda {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #999999;
}
@page {
  size: 11in 8.5in;  /* ancho altura */
  margin: 10%;
}

body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12pt;
}

.tituloIssste {
	font-family:Arial, Helvetica, sans-serif;
	font-size:8pt;
}
.tituloEncabezado {
	font-family:Arial, Helvetica, sans-serif;
	font-size:9pt;
}
.tituloEncabezadoConBorde {
	font-family:Arial, Helvetica, sans-serif;
	font-size:9pt;
	border:solid;
	border-width:1pt;
}
.contenido8bold {
	font-family:Arial, Helvetica, sans-serif;
	font-size:8pt;
	font-weight:bold;
}
.contenido8 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:8pt;
}
