/* 
    Document   : busqueda
    Created on : 01-feb-2013, 14:09:19
    Author     : ISSSTE
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.Enccontra
{
    
    font-size: 12px;
    font-family: Arial,Helvetica,sans-serif;
    background-color: #00cccc;
}

.contrarreferencias
{
    
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-color: silver;
    border-left-color: silver;
    border-bottom-color: silver;
    border-top-color: silver;
}

.contrarreferencias td
{
    
    font-size: 10px;
    font-family: 'Times New Roman',Times,serif;
}