@charset "UTF-8";
/* CSS Document */

.issste {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color: #000000;
}

.diaFecha {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color: #666666;
}

.nombre {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color: #000000;
}

.quienAgenda {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #999999;
}
@page {
  size: 11in 8.5in;  /* ancho altura */
  margin: 10%;
}

body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12pt;
	margin:0.1%;
}

.tituloIssste {
	font-family:Arial, Helvetica, sans-serif;
	font-size:8pt;
}
.tituloEncabezado {
	font-family:Arial, Helvetica, sans-serif;
	font-size:9pt;
}
.tituloEncabezadoConBorde {
	font-family:Arial, Helvetica, sans-serif;
	font-size:9pt;
	border:solid;
	border-width:1pt;
}
.contenido8bold {
	font-family:Arial, Helvetica, sans-serif;
	font-size:8pt;
	font-weight:bold;
}
.contenido8boldBorde {
	font-family:Arial, Helvetica, sans-serif;
	font-size:8pt;
	font-weight:bold;
	border:#000000 solid 1px;
}

.contenido8 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:8pt;
}

.contenido8Borde {
	font-family:Arial, Helvetica, sans-serif;
	font-size:8pt;
	border:#000000 solid 1px;
}

.contenido8BordeSI {
	font-family:Arial, Helvetica, sans-serif;
	font-size:8pt;
	border-bottom:#000000 1px solid;
	border-right:#000000 1px solid;
	border-top:#000000 1px solid;
}
.contenido10BordeSI {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10pt;
	font-weight:bold;
	border-bottom:#000000 1px solid;
	border-right:#000000 1px solid;
	border-top:#000000 1px solid;
}
.contenido8BordeCB {
	font-family:Arial, Helvetica, sans-serif;
	font-size:8pt;
	border-bottom:#000000 1px solid;
	border-top:#000000 1px solid;
}

.contenido6 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:6pt;
}

H1.SaltoDePagina
{
	PAGE-BREAK-AFTER: always
}
