@charset "UTF-8";
/* CSS Document */

@page {
  size: 2in 1in;  /* ancho altura */
  margin: 5%;
}

.datos_etiq {
	font-size:5pt;
}

body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12pt;
	margin:0.1%;
}

.tituloIssste {
	font-family:Arial, Helvetica, sans-serif;
	font-size:8pt;
}
.tituloEncabezado {
	font-family:Arial, Helvetica, sans-serif;
	font-size:36pt;
}
.tituloEncabezadoConBorde {
	font-family:Arial, Helvetica, sans-serif;
	font-size:9pt;
	border:solid;
	border-width:1pt;
}
.contenido8bold {
	font-family:Arial, Helvetica, sans-serif;
	font-size:8pt;
	font-weight:bold;
}
.contenido8 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:8pt;
}

.contenido6 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:6pt;
}

.contenido6BordeIzq {
	font-family:Arial, Helvetica, sans-serif;
	font-size:6pt;
	border-left:#000 solid 1pt;
}

.contenido8BordeIzq {
	font-family:Arial, Helvetica, sans-serif;
	font-size:8pt;
	border-left:#000 solid 1pt;
	font-weight:bold;
}

.contenido6BordoTop {
	font-family:Arial, Helvetica, sans-serif;
	font-size:6pt;
	border-top:#000 solid 1pt;
}

.copia {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14pt;
	color:#CCC;
	text-align:center;
}

.codigoMedico {
	width:100pt;
	height:60pt;
	border:#CCCCCC dashed 1px;
	color:#CCCCCC;
}

.contenido12bold {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12pt;
	font-weight:bold;
}

.contenido12BordeIzq {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12pt;
	border-left:#000 solid 1pt;
	font-weight:bold;
}

.contenido18 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18pt;
	font-style:italic;
	font-weight:bold;
}

.separador {
	display:block;
	width:100%;
	border-top:#CCC dashed 1pt;
}

H1.SaltoDePagina
{
	PAGE-BREAK-AFTER: always
}

.Etiqueta_expediente
{
    border:#000;
}
.Etiqueta_cedula{
    border-bottom: #000;
    font-family: "Arial";
    font-size: 40pt
}

.Etiqueta_nombre{
    border-bottom: #000;
    font-family: "Arial";
    font-size: 20pt
}

.Encabezado_Etiqueta
{
    font-family:"Comic Sans MS", cursive;
    font-size:12pt;
    text-decoration-color: #0066CC;
}

.rotbar90{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    rotation: 90deg;
    filter:progid:DX.DXImageTransform.Microsoft.BasicImage(rotation=2);
}

.rotbar270
{
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    rotation: 270deg;
    filter:progid:DX.DXImageTransform.Microsoft.BasicImage(rotation=3);
}