@charset "UTF-8";
/* CSS Document */

.issste {
	font-family:Arial, Helvetica, sans-serif;
	font-size:6pt;
	font-weight:bold;
	color: #000000;
}

.issste span {
	font-size:7pt;
	font-weight:bold;
	color: #000000;
}

.diaFecha {
	font-family:Arial, Helvetica, sans-serif;
	font-size:7pt;
	color: #666666;
}

.nombre {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color: #000000;
}

.quienAgenda {
	font-family:Arial, Helvetica, sans-serif;
	font-size:6pt;
	color: #999999;
}
@page {
  size: 2in 1in;  /* ancho altura */
  margin: 0.1%;
}

body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10pt;
	margin:0.1%;
	width:2in;
	height:1in;
}

.tituloIssste {
	font-family:Arial, Helvetica, sans-serif;
	font-size:8pt;
}
.tituloEncabezado {
	font-family:Arial, Helvetica, sans-serif;
	font-size:9pt;
}
.tituloEncabezadoConBorde {
	font-family:Arial, Helvetica, sans-serif;
	font-size:9pt;
	border:solid;
	border-width:1pt;
}
.contenido8bold {
	font-family:Arial, Helvetica, sans-serif;
	font-size:8pt;
	font-weight:bold;
}
.contenido8 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:8pt;
}

.contenido6 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:6pt;
}

H1.SaltoDePagina
{
	PAGE-BREAK-AFTER: always
}
